<div class="request-container">
    <p id="imei-mobile"><%= toPersian(request.IMEI1)%></p>
    <p class="hide-mobile"><%=toPersian(request.customerName || "مالک ثبت نشده")%></p>
    <p><%=toPersian(request.phoneModel)%></p>
    <small class="hide-mobile"><%= toToday(request.createdAt) %></small>
    <small class="small-mobile" id="owner-mobile" style="<%= (request.status.includes("ناموجود")) && 'border: 1px solid #f0adaf' %>; color: var(--main); background-color: rgb(228, 246, 253); padding: 2px 5px; border-radius: 7px; text-shadow: 2px 2px 3px skyblue;"><%=request.status || 'ثبت نشده'%></small>
    <a class="btn" style="margin: 0;" href="/requests/<%=request.id%>">جزئیات</a>
</div>